@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: 255, 255, 255;
  --foreground-rgb: 0, 0, 0;

  /* Custom vars for theme */
  --background: #ffffff;
  --foreground: #171717;
}

html.dark {
  --background-rgb: 10, 10, 10;
  --foreground-rgb: 237, 237, 237;

  /* Custom vars for theme */
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* Fix for white text on browser autofill */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-text-fill-color: var(--foreground);
    -webkit-box-shadow: 0 0 0 30px var(--background) inset !important;
    transition: background-color 5000s ease-in-out 0s;
}